@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
body {
  font-family: "Google Sans", sans-serif;
  background-color: #efeff0;
  display: flex;
  margin: 0;
  height: 50vh;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-container {
    text-align: center;
    padding: 20px;
}

#countdownDisplay {
    font-size: 8vh;
    font-weight: bold;
    color: #333;
    height: 1em;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#word-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#lobby-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 175px;
    width: 175px;
    overflow-y: auto;
    font-size: 14px;
    background-color: #ddd7d7;
    margin-top: 15px;
    border: 1px solid #464343;
    border-radius: 8px;
}

#player-list {
    list-style-type: none;
    padding: 0;
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    font-size: 16px;
    text-align: left;
}


#word-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 175px;
    width: 175px;
    overflow-y: auto;
    font-size: 14px;
    background-color: #ddd7d7;
    margin-top: 15px;
    border: 1px solid #464343;
    border-radius: 8px;
}

#word-list {
    list-style-type: none;
    padding: 0;
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    font-size: 16px;
    text-align: left;
}

#score-list {
    list-style-type: none;
    padding: 0;
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    font-size: 16px;
    text-align: left;
    color:#0b4117
}

#list-container {
    display: flex;
}

#score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

#letter {
    font-size: 5vh;
    font-weight: bold;
    color: #18ce18;
    height: 0.25em;
    margin: 0.25em
}

#result {
    font-size: 2vh;
    font-weight: bold;
    color: #000000;
    height: 0.25em;
    margin:5vh;
}

#start-button {
    margin-bottom: 1em;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: rgb(52, 126, 175);
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    border:none;
}
#start-button:hover{
    background-color: rgb(75, 176, 243);
}

#home-button {
    margin-bottom: 1em;
    padding: 8px 16px;
    background-color: rgb(52, 126, 175);
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    border:none;
    position: fixed;
    top: 20px;
    left: 20px;
    border-radius: 4px;
}
#home-button:hover{
    background-color: rgb(75, 176, 243);
}

#play-button {
    margin-bottom: 75px;
    border-radius: 64px;
    padding: 20px 40px;
    background-color: rgb(45, 202, 71);
    color: #ffffff;
    cursor: pointer;
    font-size: 32px;
    border:none;
    margin-top: 50px;
    
   
  
}
#play-button:hover{
    background-color: rgb(65, 245, 95);
    transform: scale(1.2);
    transition: transform 0.2s;
}

#create-button {
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: rgb(52, 126, 175);
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    border:none;
}
#create-button:hover{
    background-color: rgb(75, 176, 243);
}

#join-button {
    
    border-radius: 8px;
    padding: 10px 20px;
    background-color: rgb(52, 126, 175);
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    border:none;
}
#join-button:hover{
    background-color: rgb(75, 176, 243);
}

#welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#room-code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
    position: relative; /* establishes positioning context for #code-error */
    flex-wrap: wrap; /* optional, helps if you want it to wrap to its own line */
}

#code-error {
    font-size: 16px;
    position: absolute;
    color:rgb(189, 81, 81);
    top: 100%; /* pushes it just below the container's bottom edge */
    left: 0;
    width: 100%;
    text-align: center;
}

#title {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    margin-top: 100px;
}

#code-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
}

#word-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 0px;
    background-color: #ffffff;
}


